// Define all styles related to containers here

main {
  padding: $space-vertical 0;
  margin-top: $navigation-height + 2 * $space-horizontal;
}

.wrapper {
  margin-right: $space-horizontal;
  margin-left: $space-horizontal;

  @include respond-above(lg) {
    max-width: $wrapper-width;
    margin-right: auto;
    margin-left: auto;
  }
}

.columns {
  margin-right: $space-horizontal;
  margin-left: $space-horizontal;

  @include respond-above(lg) {
    max-width: $wrapper-width;
    margin-right: auto;
    margin-left: auto;
  }

  > [class*="column-"] {
    display: inline-block;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.breadcrumbs-bar ~ main {
  margin-top: 0;
}

.search-bar ~ main {
  margin-top: 0;

  @include respond-above(lg) {
    margin-top: $navigation-height + 2 * $space-horizontal;
  }
}

.contributor-card ~ main {
  margin-top: 0;
}
