// Define styles for breadcrumbs here

.breadcrumbs {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;

  > .breadcrumbs-ancestor-category,
  > .breadcrumbs-child-category {
    margin-right: $space-horizontal * 0.5;
    margin-left: $space-horizontal * 0.5;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  > .breadcrumbs-ancestor-category::after {
    content: '\203A';
    position: relative;
    left: $space-horizontal * 0.5;
  }
}

.breadcrumbs-bar {
  background-color: $color-secondary;
  padding: ($space-horizontal * 0.5) ($space-horizontal * 0.5);
  margin-top: $navigation-height + 2 * $space-horizontal;

  .breadcrumbs > .breadcrumbs-ancestor-category,
  .breadcrumbs > .breadcrumbs-child-category {
    font-size: $default-heading-size;
    margin-right: 0;
    margin-left: 0;
  }

  .breadcrumbs > .breadcrumbs-ancestor-category::after {
    content: url('assets/images/chevron-forward.svg');
    vertical-align: middle;
    position: relative;
    left: 0;
  }

  .breadcrumbs > .breadcrumbs-child-category {
    font-weight: $default-bold-weight;
  }
}
