// Define all override styles to the Cookie Notice & Consent plugin here

.cookie-notice-consent {
  background-color: rgba($color-background, 0.9);
  color: $color-foreground;
}

.cookie-notice-consent__button {
  border-color: $color-secondary;
  border-radius: 0;
}

.cookie-notice-consent__button:focus,
.cookie-notice-consent__button:hover {
  color: $color-action;
  border-color: $color-action;
}
