// Define all styles for posts and other custom posts here

.single > main {
  padding-top: 0;

  > article {

    > .wrapper {
      @include respond-above(sm) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      > #content {
        margin-bottom: $space-vertical;
        flex-basis: calc(66.67% - #{$space-horizontal} * 0.5);

        @include respond-above(sm) {
          margin-right: $space-horizontal * 0.5;
          margin-bottom: 0;
        }
      }

      > footer .social-media-links {
        margin-top: $space-vertical;
        display: flex;

        > li:first-child {
          padding-right: 0;
          border-right: 0;

        }
      }
    }
  }
}

.single-guide > main > article > .wrapper > #content {
  > .location-wifi,
  > .location-price {
    margin-bottom: 0;
  }

  > iframe[src^="https://www.google.com/maps/"] {
    width: 100%;
    height: 300px;
    margin-bottom: $space-vertical * 2;
    display: block;

    @include respond-above(sm) {
      width: 400px;
    }
  }
}
