// Define styles for title cards here

.title-card {
  > .featured-image-container {
    width: 100%;
    height: 220px + $default-body-size + (2 * $space-vertical);
    position: relative;
    overflow: hidden;

    @include respond-above(md) {
      height: 420px;
    }

    > figcaption {
      width: 100%;
      background-color: $color-background;
      font-size: $default-footnote-size;
      padding-top: $space-vertical;
      padding-bottom: $space-vertical;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  > .wrapper {
    margin-top: $space-vertical;
    margin-bottom: $space-vertical;
  }
}
