// Define all typography related styles here

body {
  font-family: $default-font;
  font-size: $default-body-size;
  text-rendering: optimizeLegibility;
}

h1  {
  font-size:  $default-heading-size;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: $space-vertical;
}

h2  {
  font-size:  $default-heading-size;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: $space-vertical;
}

h3,
h4,
h5,
h6 {
  font-size: $default-body-size;
  font-weight: $default-bold-weight;
  margin-top: 0;
  margin-bottom: $space-vertical;
}

p,
ul {
  font-size: $default-body-size;
  margin-top: 0;
  margin-bottom: $space-vertical;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

b,
strong {
  font-weight: $default-bold-weight;
}

small {
  font-size: $default-footnote-size;
}

.single-content h2,
.page-content h2 {
  font-size: (6 - ($default-body-size % 6)) % 6 + $default-body-size;
  font-weight: $default-bold-weight;
}

.single-content ul,
.page-content ul {
  list-style: square;
}
