// Define all styles for the footer here

footer {
  margin-top: $space-vertical;
  margin-bottom: $space-vertical;

  > .wrapper {
    padding-top: $space-vertical;
    border-top: $border-thickness solid $color-secondary;

    .nav > .menu-item {
      font-size: $default-footnote-size;
    }

    > #colophon {
      font-size: $default-footnote-size;
      display: inline-block;
    }
  }
}
