// Define all utility classes here

.hidden {
  display: none;
}

.shown {
  display: block
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.text-emphasis,
.text-data {
  font-weight: $default-bold-weight;
}

.image-center-fit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
