// Define all sidebar related styles here

#sidebar {
  @include flex-basis(calc(33.33% - (#{$space-horizontal} * 0.5)));

  @include respond-above(sm) {
    margin-left: $space-horizontal * 0.5;
  }

  > .widget h3 {
    font-size: $default-heading-size;
  }

  > .widget > .content-card > header {
    margin-right: -$space-horizontal;
    margin-left: -$space-horizontal;

    @include respond-above(sm) {
      margin-right: 0;
      margin-left: 0;
    }

    > .featured-image-container {
      height: 200px;

      @include respond-above(sm) {
        height: 124px;
      }

      @include respond-above(lg) {
        height: 200px;
      }
    }

    > h3 {
      font-size: $default-heading-size;
      font-weight: $default-bold-weight;
    }

    > center {
      margin-top: $space-vertical * 0.5;
      margin-bottom: $space-vertical * 0.5;

      p:first-child {
        margin-bottom: 0;
      }
    }
  }

  > .widget li {
    margin-top: $space-vertical;
    margin-bottom: $space-vertical;

    &:first-child {
      margin-top: 0;
    }

    &::after {
      content: url('assets/images/right-arrow.svg');
      vertical-align: middle;
      margin-left: $space-horizontal;
    }
  }
}
