// Define all styles related to the default template here

.category > #breadcrumbs {
  background-color: $color-secondary;
  padding: ($space-horizontal * 0.5) ($space-horizontal * 0.5);
  margin-top: $navigation-height + 2 * $space-horizontal;

  .breadcrumbs > .breadcrumbs-ancestor-category,
  .breadcrumbs > .breadcrumbs-child-category {
    font-size: $default-heading-size;
    margin-right: 0;
    margin-left: 0;
  }

  .breadcrumbs > .breadcrumbs-ancestor-category::after {
    content: url('assets/images/chevron-forward.svg');
    vertical-align: middle;
    position: relative;
    left: 0;
  }

  .breadcrumbs > .breadcrumbs-child-category {
    font-weight: $default-bold-weight;
  }
}
