// Define all button related styles here

button,
.button {
	font-size: $default-action-size;
	font-weight: $default-semi-bold-weight;
	padding: 16px;
	border: 3px solid $color-action;
	border-radius: $default-body-size;
	display: inline-block;
	transition: border 0.5s ease-in, color 0.5s ease-in;

	&:hover {
		color: rgba($color-action, 0.5);
		text-decoration: none;
		border-color: rgba($color-action, 0.5);
	}

	&.button-foreground {
		color: $color-foreground;
		border-color: $color-foreground;

		&:hover {
			color: rgba($color-foreground, 0.5);
			border-color: rgba($color-foreground, 0.5);
		}
	}
}
