// Define all styles related to containers here

main {
  margin-top: $navigation-height + 2 * $space-horizontal;
	margin-bottom: $space-vertical;
}

iframe {
  border: none;
}

.wrapper {
  margin-right: $space-horizontal;
  margin-left: $space-horizontal;

	@include respond-above (sm) {
		max-width: 720px;
	}

	@include respond-above(md) {
		max-width: 780px;
	}

  @include respond-above(lg) {
    max-width: $wrapper-width;
    margin-right: auto;
    margin-left: auto;
  }
}

.breadcrumbs-bar ~ main {
  margin-top: $space-vertical;
}

.author > main,
body:not(.page-home) > main {
  margin-top: $navigation-height + 2 * $space-horizontal + $space-vertical;
}

.search-bar ~ main {
  margin-top: $space-vertical;

  @include respond-above(lg) {
  	margin-top: $navigation-height + 2 * $space-horizontal + $space-vertical;
  }
}
