// Define styles for title cards here

.image-card {

  > .featured-image-container {
    width: 100%;
    height: calc(320px + $default-body-size + $space-vertical);
    position: relative;

    @include respond-above(md) {
      height: 420px;
    }

    > figcaption {
      width: 100%;
			font-size: $default-byline-size;
      padding-top: $space-vertical * 0.5;
      padding-bottom: $space-vertical * 0.5;
      position: absolute;
      bottom: -($default-byline-size + $space-vertical + 1);
      left: 0;
    }
  }

	&:has(> .featured-image-container > figcaption) {
		margin-bottom: $space-vertical * 2 + $default-byline-size; // Adjust bottom margin for the extra space that the caption adds
	}
}
