// Define all search bar related styles here

#search-bar {
  background-color: $color-secondary;
  padding: $space-horizontal $space-horizontal;
  margin-top: $navigation-height + 2 * $space-horizontal;

  > .wrapper {
    margin-right: 0;
    margin-left: 0;

    @include respond-above(lg) {
      margin-right: auto;
      margin-left: auto;
    }

    > .input-text {
      width: 100%;
      background-color: $color-secondary;
			color: $color-accent;
      font-size: $default-heading-size;

      &::placeholder {
        color: $color-accent;
        font-weight: $default-semi-bold-weight;
      }

			&:active::placeholder,
			&:focus-visible::placeholder {
				color: rgba($color-accent, 0.5);
			}
    }
  }

  @include respond-above(lg) {
    display: none;
  }

  ~ .wrapper {
    margin-top: 0;

    @include respond-above(lg) {
      margin-top: 48px;
    }
  }
}
