// Define all style related to the editors here both block and classic
@import 'variables';

.wp-editor,
.wp-block-post-content {
  font-family: $default-font;

  a {
    color: $color-action;
    text-decoration: none;

    &:hover {
      color: $color-action;
      border-bottom: 1px solid $color-action;
    }
  }
}

h1.wp-block-heading  {
  font-size:  $default-heading-size;
	font-weight: $default-black-weight;
  margin-bottom: $space-vertical;
}

h2.wp-block-heading  {
  font-size:  $default-heading-size;
	font-weight: $default-black-weight;
  margin-bottom: $space-vertical;
}

h3.wp-block-heading,
h4.wp-block-heading,
h5.wp-block-heading,
h6.wp-block-heading {
  font-size: $default-body-size;
  font-weight: $default-bold-weight;
  margin-bottom: $space-vertical;
}

p.wp-block-paragraph,
ul.wp-block-list {
  font-size: $default-body-size;
  margin-bottom: $space-vertical;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}

.alignright {
	float: right;
	margin: 0.5em 0 0.5em 1em;
}

.wp-caption-dd,
.wp-element-caption,
.wp-caption-text {
  font-size: 12px;
  padding-top: $space-vertical * 0.5;
}
